*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
display: flex;
height: 100vh;
justify-content: center;
align-items: center;
background-color: #10de85;
font-size: 18px;
}
div{
    border: 1px solid black;
    padding: 20px;
    background-color: aliceblue;
    border-radius: 15px;
}
.btn1{
    padding: 5px;
    background-color: #2e1817;
    color: white;
}
.btn2{
    padding: 5px;
    background-color: #025c0e;
    color: white;
}
label:hover{
    color:#025c0e;
}
input{
    font-size: 18px;
}

